<!DOCTYPE html>
<html>
    <head>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Please enter your info</h1>
        <form method="POST" action="/login">
            <div class="form-group">
                <h6>KID<h6><input type="text" name="KID">
                <h6>Password<h6><input type="password" name="password">
                
            </div>
            <input class="btn btn-primary" type="submit" value="login">
        </form>
    </body>
</html>
