<!DOCTYPE html>
<html>
    <head>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Please enter your info</h1>
        <form method="POST" action="/send">
            <div class="form-group">
                <h6>KID<h1><input type="text" name="KID">
                <h6>First Name<h1><input type="text" name="FirstName">
                <h6>Last Name<h1><input type="text" name="LastName">
                <h6>Password<h1><input type="password" name="Password">
                <h6>Confirm Password<h1><input type="password" name="ConfirmPassword">
            </div>
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </body>
</html>
